/*#username {*/
/*    height:69px;*/
/*    float:left;*/
/*    width:48%;*/
/*    background:pink;*/
/*    clear:left;*/
/*}*/

/*#password {*/
/*    height:200px;*/
/*    margin-top:10px;*/
/*    display:block;*/
/*    float:left;*/
/*    width:48%;*/
/*    background:lightblue;*/
/*    clear:left;*/

/*}*/

Html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#loginForm {
    width: 300px;
}

#grandparent-container{
    display: table;
    height: 100%;
    margin: 0 auto;
}

#parent-container{
    display: table-cell;
    vertical-align: middle;
}
