Html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#table {
    width: 300px;
    border-collapse: separate;
    border-spacing: 50px 0;
}

#grandparent-container{
    display: table;
    height: 100%;
    margin: 0 auto;
}

#parent-container{
    display: table-cell;
    vertical-align: middle;
}

table {
    border-collapse: separate;
    border-spacing: 50px 0;
}

td {
    padding: 10px 0;
}